@import '../../styles/variables.scss';



.MyNameContainer {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  .BoxBorderDiv {
    background-color: $color-light;
    box-shadow: -10px -10px 1px $color-background-dark,
      -10px -10px 1px 2px $color-light;
    margin-bottom: 5px;
    h3 {
      padding: 0 20px 0 20px;
      margin: 0;
      text-align: center;
    }
    h5 {
      padding: 0 20px 0 20px;
      margin: 0;
      text-align: center;
    }
  }