$color-background: #212529;
$color-gradient-dark: #37D8AD;
$color-gradient-light: #7AD487;

$color-light-grey: #E5E5E5;

$color-figma-grey: #F9F9F9;
$color-loomer-green: #37D8AD;

$max-container-width: 980px;