$color-background: #212529;
$color-gradient-dark: #131019;
$color-gradient-light: #1F0C26;

$color-background-dark: #131019;
$color-light:#FEDCC3;

$color-light-grey: #E5E5E5;


$max-container-width: 980px;