@import "../../styles/variables.scss";

.Container {
  background-color: $color-background-dark;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 10;
  max-width: 960px;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 94vh;
}
.qrImages {
  width: 100px;
  height: 100px;
}

