@import '../../styles/variables';

.ColoredDiv {
    background-color: $color-light;
    margin: 0 0 10px 0;
  }
  .SmallContainerLeft {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-direction: column;
    p {
        font-size: 14px;
        color: gray;
        text-align: start;
    }
  }